.ruby-version
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# List of files poached from Chris Hunt
# - https://github.com/chrishunt/dot-files
*.swp
.bash_history
.bash_profile
.bashrc
.cache
.CFUserTextEncoding
.cups/
.dropbox/
.fontconfig
.gem
.gemrc
.gitk
.gnupg/
.gvimrc
.heroku
.irb-history
.irb_history
.lesshst
.mysql_history
.pry_history
.rnd
.sqlite_history
.ssh/
.viminfo
.vimrc
.Xauthority
.zcompdump
.zcompdump
.zsh-update
.zsh_history

# My own stuff
.android
.chef
.config
.dbshell
.dia-etc/
.dia/
.exercism
.filezilla
.gist-vim
.gitdocs/
.god
.keepassx
*.log
.mplayer
.NERDTreeBookmarks
.rbenv/
.relish
.sh_history
.subversion/
.towns
.Trash
.vagrant.d
.vimrc.local
.vim-fuf-data
.vmc_instances
.vmc_target
.vmc_token
Applications/
Applications\ (Parallels)/
Bitcasa/
Code/
Desktop/
Documents/
Downloads/
Dropbox/
Keys/
Library/
Movies/
Music/
Notes/
Pictures/
Public/
Scratch/
Seagate/
Shared\ Drives/
Sites/
VirtualBox VMs/
yankring_history_v2.txt
