[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:errinlarsen/vimfiles.git
[submodule "powerline/fonts"]
	path = powerline/fonts
	url = git@github.com:powerline/fonts.git
