[user]
	name = Errin Larsen
	email = errinlarsen@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
  log = auto
	ui = auto
[github]
	user = errinlarsen
	token = 554ea1d460e4714d5ef84af8364c92ac
[gist]
	private = true
	extension = .rb
	browse = yes
[rerere]
	enabled = 1
[core]
	excludesfile = /Users/errinlarsen/.gitignore_global
; [url "https://"]
; 	insteadOf = git://
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[web]
	browser = open
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[push]
	default = simple
